.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.List-Item {
  font-size: 20px;
  list-style: none;
}

*/ * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* .App {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
}

.App-header {
  background-color: #1a1d22;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.list-item {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  list-style: none;
  margin: 5px;
  color: black;
  }

.grocery-list li:nth-of-type(odd) {
  background: #d80d0d;
}

.grocery-list li:nth-of-type(even) {
  background: #d87867;
}

.shopping-cart li:nth-of-type(odd) {
  background: #5653d1;
}

.shopping-cart li:nth-of-type(even) {
  background: #a4a1d3;
}

.grocery-list {
  border-radius: 5px;
  min-width: 300px;
  margin: 5px;
  padding: 5px;
  text-align: center;
	min-width: 300px;
}

.shopping-cart {
  border-radius: 5px;
  min-width: 300px;
  margin: 5px;
  padding: 5px;
  text-align: center;
	min-width: 300px;
}

input, button {
  width: 200px;
  color: black;
  padding: 10px 20px;
  margin: 20px 0;
  border-color: black;
  border-radius: 4px;
  cursor: pointer;
  background-color: lightgray;
  margin-left: 10px;
} */